{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "plugins": ["import", "promise", "@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "es2020": true,
    "node": true
  }
}
